<!doctype html>
<html lang='es'>
<head>
    <%- include('./templates/header')%>
</head>
<body  style="background-color:lavenderblush ;">
<div class="container">
    <div class="card">
        <div class="card-header">
            <%- include('./templates/navbar')%>
        </div>
        <div class="card-body">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Función</div>
                <div class="card-body">
                    <h5 class="card-title">Nuestro proposito</h5>
                    <p class="card-text"> Contar con un sistema donde se registre cada compra que se hizo, con la información respectiva  de cada una, junto con el total de compras, con fecha altual y hora.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./templates/footer')%>
</body>
</html>
